(
    name: "Change Up Brick",
    health: 1,
    icon: "textures/brick_icon.png",
    collision_sfx: Some("audio/groundImpact.ogg"),
    ricochet_effect: Some(
        (
            driver: DistanceToPlayer,
            attribute: Speed(
                ScalarCurve(
                    keyframes: [
                        (t: 0.0, value: 30, interp: Constant),
                        (t: 0.8, value: 12.5, interp: Constant),
                        (t: 0.95, value: 20, interp: Constant),
                    ],
                ),
            )
        )
    ),
)
