(
    name: "Change Up Brick",
    health: 1,
    collision_sfx: Some("audio/groundImpact.ogg"),
    light_fx: Some((
        effect_type: Interference(freq1: 3.0, freq2: 7.0, color: (0.8, 1.0, 0.0)),
        intensity: 1.0,
    )),
    ricochet_effect: Some(
        (
            driver: DistanceToPlayer,
            attribute: Speed(
                ScalarCurve(
                    key_frames: [
                        (t: 0.0, value: 30, interp: Constant),
                        (t: 0.8, value: 12.5, interp: Constant),
                        (t: 0.95, value: 20, interp: Constant),
                    ],
                ),
            )
        )
    ),
)
