(
    name: "Curve Brick",
    health: 1,
    icon: "textures/brick_icon.png",
    collision_sfx: Some("audio/groundImpact.ogg"),
    ricochet_effect: Some(
        (
            driver: DistanceToPlayer,
            attribute: Curve(
                Vec2Curve(
                    keyframes: [
                        (t: 0.0, value: Vec2(0.0, 0.0), interp: Linear),          // Start position
                        (t: 0.6, value: Vec2(10.0, -10.0), interp: Linear),       // Midpoint for curve effect
                    ],
                ),
            )
        )
    ),
)
