(
    name: "Curve Brick",
    health: 1,
    collision_sfx: Some((path: "audio/wind.ogg", volume: 1.0)),
    light_fx: Some((
        effect_type: Wave(speed: 1.5, color: (0.0, 0.8, 1.0)),
        intensity: 1.0,
    )),
    ricochet_effect: Some(
        (
            driver: DistanceToPlayer,
            attribute: Curve(
                Vec2Curve(
                    key_frames: [
                        (t: 0.0, value: Vec2(0.0, 0.0), interp: Linear),          // Start position
                        (t: 0.6, value: Vec2(10.0, -10.0), interp: Linear),       // Midpoint for curve effect
                    ],
                ),
            )
        )
    ),
)
