(
    name: "Fast Brick",
    health: 2,
    icon: "textures/brick_icon.png",
    collision_sfx: Some("audio/groundImpact.ogg"),
    ricochet_effect: Some(
        (
            driver: DistanceToPlayer,
            attribute: Speed(
                ScalarCurve(
                    keyframes: [
                        (t: 0.0, value: 40),
                        (t: 0.95, value: 25)
                    ],
                ),
            )
        )
    ),
)
